Memberships
* User should see link for Basic plan on home page -- Done
* User should see link for Pro plan on home page-- Done

* Basic plan link should point to regular devise sign up form -- Done
* Pro plan link should point to a custom sign up form -- Done

Stripe Integration
* Users should have a stripe costumer token in the users table -- DONE

* JavaScript should prevent Pro form from submitting, after user fills it out,
and should send card info to Stripe. Stripe will return with a card token. -- Done

* JavaScript should send user fields and card toekn to our rails app. 
Rails app should validate the user fields. Rails app will note whether plan 1 or plan 2. -- Done

* Once validated, rails should send user info (email, plan id) and card 
token to stripe server and stripe will create a subscribtion and send back customer token.
Rails should save customer token and user information to our database. -- Done

User Profiles
* Each user should have one profile -- Done
* User should see link to new profile form upun signing up -- Done
* User should be able to create and view their user profile -- Done
* User profile should have a profile picture -- Done
* User should be able to view all user profiles -- Done